@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --background-color: #161517;
    --secondary-color: #1f1e21;
    --third-color: #25242c;
    --text-color: #afa0ab;
    --accent-color: #4791b1;
    --link-color: #4791b1;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
}

.main {
    background-color: var(--secondary-color);
    border-radius: 20px;
    margin: 100px;
    margin-bottom: 0px;
    padding: 50px;
    text-align: center;
}

.generator {
    background-color: var(--secondary-color);
    border-radius: 20px;
    margin: 100px;
    margin-top: 50px;
    padding: 50px;
}

.input-box {
    border: none;
    border-radius: 20px;
    color: var(--text-color);
    background-color: var(--third-color);
}

.output {
    background-color: var(--third-color);
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    position: relative;

}

#copyButton{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}

#copyButton:hover {
    cursor: pointer;

}

#copyButton img {
    width: 30px;
    height: 30px;
    margin: 10px;
}


#toast {
    visibility: hidden;
    min-width: 150px;
    margin-left: -125px;
    background-color: var(--secondary-color);
    color: var(--text-colors);
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
 }
 
 #toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
 }
 
 @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
 }
 
 @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
 }
 
 @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
 }
 
 @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
 }