@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
	--background-color: #161517;
	--secondary-color: #1f1e21;
	--third-color: #25242c;
	--text-color: #afa0ab;
	--accent-color: #4791b1;
	--link-color: #4791b1;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: 'Montserrat', sans-serif;
}

/* unvisited link */
a:link {
	color: var(--text-color);
}

/* visited link */
a:visited {
	color: var(--text-color);
}

.main {
	background-color: var(--secondary-color);
	border-radius: 20px;
	margin: 100px;
	margin-bottom: 0px;
	padding: 50px;
	text-align: center;
}

.input-box {
	border: none;
	border-radius: 20px;
	color: var(--text-color);
	background-color: var(--third-color);
}

.output-box {
	background-color: var(--third-color);
	color: var(--text-color);
	width: 80%;
	border-radius: 20px;
	padding: 20px;
	margin-top: 20px;
	position: relative;
	resize: none;
}

#script-selection {
	width: 120px;
}

#version-selection {
	width: 130px;
}

textarea:focus,
select:focus,
input:focus {
	outline: none;
}

select {
	appearance: none;
	-webkit-appearance: none; /* for Chrome and Safari */
	-moz-appearance: none; /* for Firefox */
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0  0  4  5"><path fill="%23000000" d="M2  0L0  2h4zm0  5L0  3h4z"/></svg>');
	background-repeat: no-repeat;
	background-position: right 0.7em center;
	background-size: 0.65em auto;
}
